{% extends "base.html" %}
{% block content %}
    <div class="container my-5">
        <div class="card mb-3">
            <div class="card-header bg-success text-white">
                <h3 class="card-title">Current Balance</h3>
            </div>
            <div class="card-body">
                <h1 class="display-4">{{ user.balance }}￥</h1>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-warning text-white">
                <h3 class="card-title">Transfer</h3>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="phone" class="form-label">Payee's Phone Number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Payee's Real Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Transfer Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>
                    <div class="mb-3">
                        <label for="remark" class="form-label">Transfer Description</label>
                        <textarea class="form-control" id="remark" name="remark"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Transfer Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
